# Variáveis de ambiente / segredos
.env

# Ambiente virtual Python
.venv/

# Cache Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

self_note.txt
AuctionsList.json
visualizer_one_line.json
visualizer.json
CommoditiesList.json